body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
    color: #90998B;
}

b {
    color: #000;
}

/* ====== CONTAINER ====== */
.container {
    position: relative;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ====== HEADER ====== */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header__inner {
    width: 100%;
    max-width: 1312px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* nav */
.nav {
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.nav__link {
    margin-right: 40px;
}

.nav__toggle {
    display: none;
}

.button{
    width: 24px;
    height: 24px;
    padding: 12px;
    line-height: 3px;
    text-align: center;
    position: absolute;
    right: 8px;
    z-index: 201;
    display: block;
}

.button span {
    height: 2px;
    width: 24px;
    background: #fff;
    display: inline-block;
    z-index: 4000;
    transition: all .5s ease-in-out;
}

.toggleItems {
    display: none;
    position: absolute;
    margin-top: 70px;
    right: 0;
    border-radius: 5px;
    padding: 5px;
    z-index: 2000;
    text-align: center;
    background: rgba(255, 255, 255, 0.842);
    backdrop-filter: blur(2px);
    transition: .5s ease-in-out;
}

.toggleItems.active {
    display: block;
}

.items {
    margin-top: 14px;
}

.navToggle {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ====== INTRO ====== */
.intro {
    width: 100%;
    height: 100vh;
    background: url(../assets/bg/img.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__inner {
    text-align: center;
    margin-top: -200px;
    position: relative;
}

.title {
    color: #576250;
    font-size: 57px;
    max-width: 776px;
    margin: 0 auto;
}

.subtitle {
    color: #90998B;
    font-size: 16px;
    max-width: 560px;
    font-family: 'Poppins', sans-serif;
    margin: 16px auto;
}

.scrollDiv {
    text-align: center;
    margin-top: 108px;
}

.scroll {
    animation: scroll 2s ease infinite;
    position: absolute;
    text-align: center;
    left: calc(49% - 4px);
}

@keyframes scroll {
    0% {
        top: 296px;
    }

    50% {
        top: 316px;
    }

    100% {
        top: 296px;
    }
}

/* ====== INTRO END!!! ====== */
/* ====== LOCATIONS ====== */
.locations {
    text-align: center;
}

.subtitle.loc {
    color: #B8C1B2;
}

.locations__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locations__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 248px;
    margin-top: 16px;
    height: 153px;
}

.locations__item:last-child {
    background-color: #576250;
    border-radius: 10px;
}

.location__name {
    position: absolute;
    bottom: 10px;
    left: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.more {
    position: absolute;
    right: 14px;
    top: 14px;
}

.location__image {
    transform: scale3d(1,1,1);
	transition: transform .2s ease-in-out;
}

.location__image:hover {
    transform: scale(1.1);
	transition: transform .2s linear;
}

/* ====== LOCATIONS END!!! ====== */
/* ====== VENUES ====== */
.venues {
    font-family: 'Poppins', sans-serif;
}

.venues__h3 {
    margin: 48px 0 16px 0;
}

.venues__item {
    display: none;
}

.venues__item.active {
    display: flex;
}

.venues__content {
    margin: 32px 0 0 48px;
    max-width: 583px;
}

.venues__image {
    width: 361px;
    height: 467px;
    border-radius: 8px 0 0 8px;
}

.venues__num {
    display: flex;
    font-family: 'Lora', serif;
    color: #000;
    font-size: 24px;
    font-weight: 800;
}

.venues__num2 {
    color: #B8C1B2;
    margin-left: 7px;
    font-weight: 400;
}

.venues__h2 {
    font-family: 'Lora', serif;
    margin: 24px 0 4px 0;
}

.venues__subtitle {
    font-size: 14px;
    color: #90998B;
}

.venues__text {
    font-size: 16px;
    color: #8D8D8D;
    margin-bottom: 16px;
}

.venues__arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.arrows {
    cursor: pointer;
}

/* ====== VENUES END!!! ====== */
/* ====== SERVICES ====== */
.services {
    margin-top: 128px;
    position: relative;
}

.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__bg {
    position: absolute;
    width: 100%;
    top: -66px;
    z-index: 1;
}

.servicess {
    width: 234px;
    margin: 0;
}

.services__items {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 48px 0 0 39px;
}

.services__item {
    text-align: center;
}

.services__text {
    font-size: 16px;
    color: #90998B;
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
}

/* ====== SERVICES END!!! ====== */
/* ====== PORTFOLIOS ====== */
.portfolios {
    margin-top: 56px;
    font-family: 'Poppins', sans-serif;
}

.portfolios__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolios__item {
    width: 100%;
    margin-top: 16px;
    max-width: 512px;
    height: 298px;
    position: relative;
}

.after {
    content: '';
    position: absolute;
    max-width: 512px;
    height: 298px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.425);
    z-index: 1;
    border-radius: 8px;
    opacity: 0;
    transition: all .2s linear;
}

.portfolios__text {
    position: absolute;
    top: 220px;
    left: 198px;
    font-size: 14px;
    color: #fff;
    transition: all .2s linear;
    z-index: 3;
}

.portfolios__item:hover {
    .portfolios__text {
        top: 120px;
    }

    .portfolios__text.name {
        top: 142px;
    }

    .after {
        opacity: 1;
    }
}

.portfolios__text.name {
    top: 242px;
    font-size: 24px;
    font-family: 'Lora', serif;
    left: 50%;
    margin-left: -70px;
}

.portfolios__text.name.second {
    margin-left: -100px;
}

/* ====== PORTFOLIOS END!!! ====== */
/* ====== TESTIMONIALS ====== */
.testimonials {
    background-color: #585B56;
    margin-top: 104px;
    text-align: center;
    padding: 46px 0 55px 0;
    font-family: 'Poppins', sans-serif;
}

.testimonials__title {
    font-family: 'Lora', serif;
    color: #fff;
}

.testimonials__subtitle {
    color: #B8C1B2;
    font-size: 16px;
}

.testimonials__text {
    color: #fff;
    max-width: 866px;
    margin: 48px auto 0 auto;
}

.testimonials__text.text {
    margin: 32px auto 48px auto;
}

.testimonials__name {
    color: #fff;
}

.left {
    position: absolute;
    left: 32px;
    top: 124px;
}

.right {
    position: absolute;
    right: 32px;
    top: 124px;
}

.arrow {
    position: absolute;
    top: 50%;
}

.arrowleft {
    left: 0;
}

.arrowright {
    right: 0;
}

/* ====== TESTIMONIALS END!!! ====== */
/* ====== CONTACT ====== */
.contact__subtitle {
    color: #B8C1B2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.contact__title {
    margin-top: 56px;
}

.contact__items {
    display: flex;
    justify-content: space-between;
}

.form__title {
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 24px;
}

.contact__input {
    width: 460px;
    padding: 8px 0 8px 16px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-top: 8px;
}

.contact__input.textarea {
    height: 162px;
    width: 461px;
}

.contact__btn {
    width: 160px;
    height: 44px;
    border-radius: 8px;
    border: 0;
    background-color: #576250;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 24px;
}

.contact__text {
    font-size: 16px;
    color: #90998B;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-top: 8px;
    width: 150px;
}

.contact__text.last {
    width: 248px;
}

.icons {
    margin-top: 18px;
    width: 88px;
    display: flex;
    justify-content: space-between;
}

/* ====== CONTACT END!!! ====== */
/* ====== FOOTER ====== */
.footer {
    background-color: #424242;
    padding: 18px 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 56px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
}

.footer__link {
    margin-right: 40px;
}

.footer__link:last-child {
    margin-right: 0;
}

.icons.iconsfooter {
    margin-top: 5px;
}
/* ====== FOOTER END!!! ====== */
/* ====== MEDIA BREAKPOINTS ====== */
@media (max-width: 1315px) {
    .header__inner {
        max-width: 1000px;
    }
}

@media (max-width: 1050px) {
    .container {
        max-width: 900px;
    }

    .locations__items {
        justify-content: start;
    }

    .locations__item {
        width: 175px;
        margin-right: 5px;
        height: 100px;
    }

    .location__image {
        width: 175px;
        height: 100px;
    }

    .services__items {
        display: block;
        margin: 0 auto;
    }

    .services__item {
        width: 248px;
        height: 280px;
        margin: 0 auto;
    }

    .portfolios__inner {
        justify-content: center;
    }

    .testimonials__text {
        width: 706px;
    }

    .header__inner {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 700px;
    }

    .contact__items {
        display: block;
    }

    .contact__text {
        margin: 8px auto 0 auto;
    }

    .icons {
        margin: 18px auto 0 auto;
    }

    .contact__btn {
        width: 478px;
        margin-bottom: 56px;
    }

    .contact__loc {
        text-align: center;
    }

    .testimonials__text {
        width: 500px;
    }

    .locations__items {
        justify-content: center;
    }

    .footer__inner {
        display: block;
        margin: 48px 0 74px 0;
    }

    .footer__links {
        display: block;
        margin: 48px 0;
    }

    .footer__link {
        margin-top: 16px;
    }

    .icons.iconsfooter {
        margin: 0;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }

    .header__inner {
        max-width: 600px;
    }

    .scroll {
        margin-top: 50px;
        left: 47%;
    }

    .testimonials__text {
        max-width: 238px;
    }

    .scroll {
        top: 100px;
    }
}

@media (max-width: 680px) {
    .container {
        max-width: 361px;
    }

    .header__inner {
        max-width: 329px;
    }

    .nav__toggle {
        display: block;
    }

    .nav {
        display: none;
    }

    .scrollDiv {
        margin-top: 88px;
    }

    .title {
        font-size: 50px;
    }

    .venues__item.active {
        display: block;
    }

    .venues__image {
        height: 229px;
        width: 361px;
        object-fit: cover;
    }

    .venues__content {
        margin: 32px auto 0 auto;
        width: 308px;
    }

    .services__inner {
        display: block;
    }

    .services__items {
        margin-top: 41px;
    }

    .services__bg {
        top: 66px;
        z-index: -1;
        height: 192px;
        width: 100%;
    }

    .portfolios__item {
        height: 200px;
    }

    .portfolios__img {
        width: 361px;
        height: 200px;
    }

    .portfolios__text {
        top: 135px;
        left: 123px;
    }

    .portfolios__text.name {
        top: 155px;
    }

    .contact__input,
    .contact__input.textarea {
        width: calc(100% - 18px);
    }

    .contact__items {
        text-align: left;
    }

    .contact__btn {
        width: 100%;
    }

    .contact__img {
        width: 362px;
        height: 330px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .arrow {
        top: 708px;
    }

    .arrow.arrowleft {
        left: 56px;
    }

    .arrow.arrowright {
        right: 56px;
    }

    .locations__item {
        margin-top: 8px;
    }
}

@media (max-height: 750px) {
    .intro__inner {
        margin-top: 0;
    }
}